* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: #ededed;
  min-height: 100vh;
  align-items: center;
  overflow: hidden;
}
.road,
.seperator {
  position: fixed;
  background-color: #909090;
}
/* Car 1 Design */
.road_1,
.road_separator_1 {
  height: 100vh;
  width: 150px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}
.road_separator_1 {
  width: 4px;
  background: linear-gradient(
    180deg,
    white,
    white 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 69px 50px;
}
.car_1 {
  height: 100px;
  width: 60px;
  background-color: orange;
  position: absolute;
  border-radius: 6px;
  left: 47%;
  top: 0;
  box-shadow: -6px -1px 6px 2px #00000042;
  animation: car2_anime 8s linear infinite alternate;
  -webkit-animation: car2_anime 8s linear infinite alternate;
}
@keyframes car2_anime {
  0% {
    top: 0;
    bottom: 220px;
  }
  25% {
    bottom: 220px;
    top: 25%;
  }
  50% {
    bottom: 220px;
    top: 50%;
  }
  75% {
    bottom: 220px;
    top: 70%;
  }
  100% {
    bottom: 220px;
    top: 85%;
  }
}

.car_1::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 5px;
  top: 3px;
  right: 14px;
  border-radius: 2px;
  background-color: #dd3939;
  box-shadow: 0 30px #bb2f2f;
  transform: rotate(90deg);
}

.car_1::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 5px;
  top: 85px;
  left: 43px;
  border-radius: 2px;
  background-color: #fdfdfd;
  box-shadow: 0 30px #f8f8f8;
  transform: rotate(90deg);
}
.car_1 span {
  position: relative;
  background-color: #fdd206;
  border-radius: 10px;
  overflow: hidden;
}

.car_1 span::before {
  content: "Taxi";
  position: absolute;
  transform: translate(25%, 190%) rotate(180deg);
  background: #fff;
  padding: 2px;
  font-size: 0.75em;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #0005;
  z-index: 10;
}

/* Car 2 design*/
.road_2,
.road_separator_2 {
  height: 150px;
  width: 100vw;
  top: 50%;
  transform: translate(0, -50%);
}
.road_separator_2 {
  height: 4px;
  background: linear-gradient(
    90deg,
    white,
    white 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 69px 50px;
}
.car_2 {
  height: 60px;
  width: 100px;
  background-color: orange;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 260px;
  box-shadow: -6px -1px 6px 2px #00000042;
  animation: car_anima 8s linear infinite alternate;
  -webkit-animation: car_anima 8s linear infinite alternate;
}
@keyframes car_anima {
  0% {
    top: 260px;
    right: 0;
  }
  25% {
    top: 260px;
    left: 35%;
  }

  50% {
    top: 260px;
    left: 35%;
  }

  60% {
    top: 260px;
    left: 50%;
  }

  75% {
    top: 260px;
    left: 75%;
  }
  100% {
    top: 260px;
    left: 92%;
  }
}
.car_2::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 5px;
  top: 8px;
  right: 4px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 30px #fff;
}
.car_2::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 5px;
  top: 8px;
  left: 2px;
  right: 5px;
  border-radius: 2px;
  background-color: #e02626;
  box-shadow: 0 30px #ec0808;
}

.car_2 span {
  position: relative;
  background-color: #fdd206;
  border-radius: 10px;
  overflow: hidden;
}
.car_2 span::before {
  content: "Taxi";
  position: absolute;
  transform: translate(80%, 100%) rotate(90deg);
  background: #fff;
  padding: 2px;
  font-size: 0.75em;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #0005;
  z-index: 10;
}
